<div class="card">
    <div class="card-header">
        <p>team performance</p>
    </div>
    <div class="card-body">
        <p>task completed:{{performance.taskCompleted}}</p>
        <p>task pending:{{performance.taskPending}}</p>
        <p>task in progress:{{performance.taskInProgress}}</p>
        <div class="data">
            <div class="workload">
                <p>workload: {{performance.workload}}</p>
            </div>
            <div class="velocity">
                <p>velocity: {{performance.velocity}}</p>
            </div>
        </div>
    </div>
</div>